@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP:wght@400;500;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#fffbf1 0%, #fff6de 70%, #ffefc4 100%);
  font-family: "Montserrat", sans-serif;
  color: #5b5b5b;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.16em;
}

.inner {
  margin: 0 auto;
  padding-inline: 20px;
  max-width: 1200px;
}

.comparisonTable {
  writing-mode: vertical-lr;
  border: 1px solid;
  background-color: #fff;
}
.comparisonTable th,
.comparisonTable td {
  writing-mode: horizontal-tb;
  padding: 12px;
  border: 1px solid;
}
.comparisonTable thead {
  width: 100px;
}
.comparisonTable tbody > tr > td {
  width: 200px;
}

.hide-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display:none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.btn_bg-gradation {
  background-image: linear-gradient(90deg, #ff9900 0%, #ff4aac 50%, #ff9900 100%);
  background-position: 1% 50%;
  background-size: 200% auto;
  transition: all 0.3s;
}
.btn_bg-gradation:hover {
  background-position: 99% 50%;
}

.headerBtn {
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #f59e0b;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: 1px solid;
  border-radius: 22px;
  transition: all 0.3s;
}
.headerBtn:hover {
  color: #fff;
  background-color: #f59e0b;
}

.headerBtn--logout {
  width: 140px;
  height: 44px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: #f59e0b;
  border: 1px solid;
  border-radius: 22px;
  transition: all 0.3s;
}
.headerBtn--logout:hover {
  color: #f59e0b;
  background-color: transparent;
}